@CHARSET "US-ASCII";

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #333333;		
	background-color: #F9F9F9;
	/*margin: 0 0 0 0; top right bottom left*/	
}

h1 {

	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 36px;
	font-weight: bold;
	color: #FFFFFF;
}

h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	border-bottom: 1px solid #C6EC8C;
}

/*************************  ID's *************************/

#pagehdr {
	background:#008F53 none repeat scroll 0% 0%;
	padding:20px 20px 10px;
}


